<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerador de QR Code</title>
</head>
<body>
    <div>
        <h1 style="color: blueviolet;">Gerador de QR Code</h1>
        <form method="post">
            <label for="texto">Texto ou link:</label><br>
            <input type="text" id="texto" name="texto" required style="width: 400px;"><br><br>
            <input type="submit" value="Gerar QR Code">
        </form>
    </div>

    {% if qr_path %}
        <h2>QR Code Gerado:</h2>
        <img src="{{ qr_path }}" alt="QR Code">
        <p><a href="{{ qr_path }}" download>Clique aqui para baixar</a></p>
    {% endif %}
</body>
</html>
